<div class="box">
    {% if member %}
    <div class="ui card">
		<div class="content">
			<div class="right floated ui image mini">
				<a href="/member/{{ member.username }}">{{ member|avatar:"normal"|safe}}</a>
			</div>
			<div class="header">
				<a href="/member/{{ member.username }}">{{ member.username }}</a>
			</div>
			<div class="meta">{{ member.tagline|escape }}</div>
        </div>
		<div class="content">
			<div class="ui padding grid">
				<div class="eight wide column">
					<a href="/my/nodes" style="display: block; text-align:center;">
						<div>
							主題收藏
						</div>
						<div class="ui green label circular">{{ member.favorited_nodes }}</div>
					</a>
				</div>
				<div class="eight wide column">
					<a href="/my/topics" style="display: block;text-align:center;">
						<div>
							話題收藏
						</div>
						<div class="ui blue label circular">{{ member.favorited_topics }}</div>
					</a>
				</div>
				<div class="eight wide column">
					<a href="/my/following" style="display: block;text-align:center;">
						<div>
							特別關注
						</div>
						<div class="ui yellow label circular">{{ member.favorited_members }}</div>
					</a>
				</div>

				<div class="eight wide column">
					<a href="/notifications" style="display: block;text-align:center;">
						<div>
							未讀提醒
						</div>
						<div class="ui red label circular">{{ member.notifications }}</div>
					</a>
				</div>
			</div>
		</div>
        {% if member.twitter_oauth %}
			<div class="sep10"></div>
			<form method="post" action="/twitter/tweet">
				<textarea class="mlt" maxlength="140" name="status"></textarea>
				<div class="sep10"></div>
				<div align="right"><input type="submit" value="Tweet" class="super normal button" /></div>
			</form>
        {% endif %}
    </div>
    {% if member.avatar_large_url %}
    {% else %}
		<div class="yellow">
			<span class="fade">上傳您的頭像 <a href="/settings/avatar">上傳 →</a></span>
		</div>
    {% endif %}
    {% else %}
    <div class="cell">
        <strong>Please choose a way to sign in</strong>
        {% ifequal site.title 'V2EX' %}
			<div class="sep5"></div>
			<span class="fade">V2EX 是一个关于分享和探索的地方</span>
        {% endifequal %}
    </div>
    <div class="inner">
        <div class="sep5"></div>
		<div align="center">
			<button class="ui circular facebook icon button">
				  <i class="facebook icon"></i>
			</button>
			<button class="ui circular twitter icon button">
				  <i class="twitter icon"></i>
			</button>
			<a href="/signin">
				<button class="circular ui icon button">
					<i class="icon mail"></i>
				</button>
			</a>
			<button class="ui circular linkedin icon button">
				  <i class="linkedin icon"></i>
			</button>
			<button class="ui circular google plus icon button">
				  <i class="google plus icon"></i>
			</button>
			<div class="sep10"></div>
			{{ l10n.email_ony_member|safe}}
		</div>
    </div>
    {% endif %}
</div>
