{% extends 'common/base.html' %}
{% block content %}
    <div id="Content">
        <div class="box">
            <div class="cell"><span class="fade"><a href="/">{{ site.title }}</a> <span class="chevron">&nbsp;›&nbsp;</span> About</span></div>
            <div class="inner">
                <div class="page">
                    <h1>關於IO.Tea</h1>
                    <div class="sep10"></div>
                    <h3>IO.Tea 是提供對於最新科技, 創業, 工作及開發等話題有興趣的一般民眾, 工程師, 程式設計師或極客一個交流平台.</h3>
                    <br>
                    <p><strong>重要聲名</strong>：IO.Tea為提供使用者知識交流, 討論及分享的社群, 本站對於所有留言的真實性, 完整性及立場, 不負任何法律責任。本網站使用者所發表之文章, 回覆及個人資訊不代表本站之立場, 使用者需自行研判其內容之真實性。若讀者因本站使用者所發表之資訊, 留言而影響所開發之產品瑕疵, 良率或是獲利等, 本站不負任何法律責任</p>
                    <p>由於本社群討論區是以即時發表, 留言的方式運作, 本社群無法進行即時地監督, 審核, 若讀者發現有任何問題, 請透過標籤提醒站長@cwyark, 或者是至<a href="https:io-tea.appspot.com/go/request">告訴站長</a>發表文章, 若站長有發現到任何問題, 將會第一時間進行處理.</p>
                    <p>本社群有權刪除任何留言及拒絕任何人士留言，同時亦有不刪除留言的權利。切勿撰寫粗言穢語、誹謗、渲染色情暴力或人身攻擊的言論，敬請自律。本網站保留一切法律權利。</P>
                    <div class="sep10"></div>
                    <small class="snow">Last Revised {{ note.last_modified }}</small>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
