{% extends 'common/base.html' %}

{% block extra_sidebar %}
{% include 'rightbar/backstage_site_permissions.html' %}
{% endblock %}

{% block content %}
    <div id="Content">
        {% if message %}
        <div class="box">
            <div class="inner">{{ message }}</div>
        </div>
        <div class="sep20"></div>
        {% endif %}
        <div class="box">
            <div class="cell"><span class="fade"><a href="/">{{ site.title }}</a> <span class="chevron">&nbsp;›&nbsp;</span> <a href="/backstage">{{ l10n.backstage }}</a> <span class="chevron">&nbsp;›&nbsp;</span> {{ l10n.site_settings }}</span></div>
            <div class="inner">
                {% if errors %}
                <strong>{{ l10n.resolve_errors }}</strong>
                <div class="sep10"></div>
                <ul>
                    {% if site_title_error %}
                    <li>{{ site_title_error_message }}</li>
                    {% endif %}
                    {% if site_slogan_error %}
                    <li>{{ site_slogan_error_message }}</li>
                    {% endif %}
                    {% if site_domain_error %}
                    <li>{{ site_domain_error_message }}</li>
                    {% endif %}
                    {% if site_description_error %}
                    <li>{{ site_description_error_message }}</li>
                    {% endif %}
                    {% if site_home_categories_error %}
                    <li>{{ site_home_categories_error_message }}</li>
                    {% endif %}
                    {% if site_analytics_error %}
                    <li>{{ site_analytics_error_message }}</li>
                    {% endif %}
                </ul>
                <div class="sep10"></div>
                {% endif %}

                <form action="/backstage/site" method="post" class="ui form">
                    <div class="field">
                        <label>
                            {{ l10n.site_name }}
                        </label>
                        <input type="text" class="sl" name="title" value="{{ site_title|escape }}" />
                    </div>
                    <div class="field">
                        <label>
                            {{ l10n.site_slogan }}
                        </label>
                        <input type="text" class="sl" name="slogan" value="{{ site_slogan|escape }}" />
                    </div>
                    <div class="field">
                        <label>
                            {{ l10n.site_domain }}
                        </label>
                        <input type="text" class="sl" name="domain" value="{{ site_domain|escape }}" />
                    </div>
                    <div class="field">
                        <label>
                            {{ l10n.site_description }}
                        </label>
                        <textarea class="ml" name="description">{{ site_description|escape }}</textarea>
                    </div>
                    <div class="field">
                        <label>
                            {{ l10n.site_home_categories }}
                        </label>
                        <textarea class="ml" name="home_categories">{{ site_home_categories|escape }}</textarea>
                        <div class="sep5"></div>
                        <span class="fade">{{ l10n.one_category_per_line }}</span>
                    </div>
                    <div class="field">
                        <label>
                            Meta
                        </label>
                        <textarea class="ml" name="meta">{{ site_meta|escape }}</textarea>
                    </div>
                    <div class="field">
                        <label>
                            首页顶部内容
                        </label>
                        <span class="fade">请使用 HTML 编辑此部分</span>
                    </div>
                    <div class="field">
                        <textarea class="mle tall" name="home_top">{{ site_home_top|escape }}</textarea>
                    </div>
                    <div class="field">
                        <label>
                            {{ l10n.site_theme }}
                        </label>
                        <select name="theme">
                            {% for theme in themes %}
                            {% ifequal theme site_theme %}
                            <option value="{{ theme }}" selected="selected">{{ theme }}</option>
                            {% else %}
                            <option value="{{ theme }}">{{ theme }}</option>
                            {% endifequal %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="field">
                        <label>
                            Analytics ID
                        </label>
                        <input type="text" class="sl" name="analytics" value="{{ site_analytics|escape }}" maxlength="40" />
                    </div>
                    <div class="field">
                        <label>
                            {{ l10n.language }}
                        </label>
                        {{ s|safe }}
                    </div>
                    <div class="field">
                        <label>
                            主题打开权限
                        </label>
                        <input type="text" class="sl" name="topic_view_level" value="{{ site_topic_view_level|escape }}" maxlength="40" />
                    </div>
                    <div class="field">
                        <label>
                            主题创建权限
                        </label>
                        <input type="text" class="sl" name="topic_create_level" value="{{ site_topic_create_level|escape }}" maxlength="40" />
                    </div>
                    <div class="field">
                        <label>
                            主题回复权限
                        </label>
                        <input type="text" class="sl" name="topic_reply_level" value="{{ site_topic_reply_level|escape }}" maxlength="40" />
                    </div>
                    <div class="field">
                        <label>
                            Data Migration Mode
                        </label>
                        {% ifequal site_data_migration_mode 1 %}
                            <input type="checkbox" name="data_migration_mode" checked="checked" />
                            {% else %}
                            <input type="checkbox" name="data_migration_mode" />
                        {% endifequal %}
                    </div>
                    <div class="field">
                        <input type="submit" value="{{ l10n.save }}" class="ui button" />
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
