{% extends 'common/base.html' %}
{% block content %}
    <div id="Content">
        {% if message %}
        <div class="box">
            <div class="inner">{{ message }}</div>
        </div>
        <div class="sep20"></div>
        {% endif %}
        <div class="box">
            <div class="cell">
                <div class="fr">
                    {% if ttl %}
                        <strong>距离移动权限关闭还有<span class="orange">{{ ttl }}</span> 秒</strong>
                    {% endif %}
                </div>
                <span class="fade">
                    <a href="/">{{ site.title }}</a>
                    <span class="chevron">&nbsp;›&nbsp;</span>
                    <a href="/t/{{ topic.num }}">{{ topic.title|escape }}</a>
                    <span class="chevron">&nbsp;›&nbsp;</span> 移动主题
                </span>
            </div>
            <div class="inner">
                <form action="/backstage/move/topic/{{ topic.key() }}" method="post" class="ui form">
                    <div class="field">
                        <label>Topic ID</label>
                            {{ topic.num }}
                    </div>
                    <div class="field">
                        <label>文章標題</label>
                        <a href="/t/{{ topic.num }}">{{ topic.title|escape }}</a>
                    </div>
                    <div class="field">
                        <label>原先所在節點</label>
                        <a href="/go/{{ topic.node.name }}">{{ topic.node.title|escape }}</a>
                    </div>
                    <div class="field">
                        <label>目前回覆數量</label>
                        {{ topic.replies }}
                    </div>
                    <div class="field">
                        <label>目標節點名稱</label>
                        <input type="text" class="sl" name="destination" value="" />
                    </div>
                    <div class="field">
                        <input type="submit" value="{{ l10n.save }}" class="ui button" />
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
