{% extends 'common/base.html' %}
{% block content %}
{% if forgot_sent == 1 %}
    <div id="Content">
        <div class="box">
            <div class="cell"><span class="fade"><a href="/">{{ site.title }}</a> <span class="chevron">&nbsp;›&nbsp;</span> 重新设置密码</span></div>
            <div class="inner">現在請去查看你的電子信箱, 其中有幫助你重新設定密碼的聯結</div>
        </div>
    </div>
{% else %}
    <div id="Content">
        <div class="box">
            <div class="cell"><span class="fade"><a href="/">{{ site.title }}</a> <span class="chevron">&nbsp;›&nbsp;</span> 重新设置密码</span></div>
            <div class="inner">
                 {% if error_message|length %}
                    <div class="ui icon message">
                        <i class="warning  circle icon"></i>
                        <div class="content">
                            <div class="header">Wait a second</div>
                            <ul>
                                {% for key, value in error_message.iteritems %}
                                    {% for m in value %}
                                        <li>{{ m }} </li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
                <form action="/forgot" method="post" class="ui form">
                    <div class="field">
                        <label>用户名</label>
                        <input type="text" class="sl" name="username" value="{{ username|escape }}" />
                    </div>
                    <div class="field">
                        <label>注册邮箱</label>
                            <input type="text" class="sl" name="email" value="{{ email|escape }}" />
                    </div>
                    <div class="field">
                        <input type="submit" value="重新设置密码" class="ui button" />
                    </div>
                    <div>
                        <span class="fade">24 小时内，至多可以重新设置密码 2 次。</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}
