{% extends 'common/base.html' %}
{% block content %}
{% if node_found == 1 %}
    <div id="Content">
        <div class="box">
            <div class="cell" style="padding-bottom: 0px;"><table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tr>
                {% if node.avatar_large_url %}
                <td width="73" align="center" valign="top">{{ node|avatar:"large"|safe }}</td>
                <td width="10"></td>
                {% endif %}
                <td width="auto" valign="top">
                    <div class="fr" align="right">
                        <span class="snow">{{ l10n.total_topics }}</span>
                        <span class="fade">
                            <strong>{{ node.topics }}</strong>
                            {% if member %} &nbsp;
                                <span class="snow">•</span>&nbsp;
                                {% if favorited %}
                                    <a href="/unfavorite/node/{{ node.name }}">取消收藏</a>
                                {% else %}
                                    <a href="/favorite/node/{{ node.name }}">加入收藏</a>
                                {% endif %}
                                {% if can_manage %} &nbsp;
                                    <span class="snow">•</span>&nbsp; <a href="/backstage/node/{{ node.name }}">管理節點訊息</a>
                                {% endif %}
                            {% endif %}
                        </span>
                    </div>
                <span class="bigger">
                    <a href="/">{{ site.title }}</a> <span class="chevron">&nbsp;›&nbsp;</span> {{ node.title|escape }}
                </span>
                {% if node.header %}
                    <div class="sep10"></div>
                    <span class="header">{{ node.header|linebreaksbr }}</span>
                {% endif %}
                {% if can_create %}
                    <div class="sep10"></div>
                    <div class="sep10"></div>
                    <div align="left"><a href="/new/{{ node.name }}" class="ui button">{{ l10n.create_new_topic }}</a></div>
                    <div class="sep5"></div>
                    <div class="sep10"></div>
                    <div>
                        <div style="padding: 3px 10px 5px 10px; display: inline-block; border-bottom: 5px solid transparent; margin: 0px 2px 0px 2px;">
                            <a href="/go/{{ node.name }}">所有話題</a>
                        </div>
                        <div style="padding: 3px 10px 5px 10px; display: inline-block; border-bottom: 5px solid #3c3; margin: 0px 2px 0px 2px;">相關主題</div>
                    </div>
                {% endif %}
                </td>
            </tr>
            </table>
            </div>
            {% for sibling in siblings %}
            <div class="cell">
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tr>
                        <td width="73" align="center" valign="middle">{{ sibling|avatar:"large"|safe }}</td>
                        <td width="10"></td>
                        <td width="auto" valign="middle">
                        <strong class="bigger"><a href="/go/{{ sibling.name }}">{{ sibling.title|escape }}</a></strong><div class="sep10"></div>{{ sibling.topics }} topics
                        </td>
                    </tr>
                </table>
            </div>
            {% endfor %}
            <div class="inner">
                {% if node.footer %}
                    {% if pagination %}
                    <div class="sep10"></div>
                    {% endif %}
                    <span class="footer">{{ node.footer|linebreaksbr }}</span>
                {% endif %}
            </div>
        </div>
    </div>
{% else %}
<div id="Content">
    <div class="box">
        <div class="cell"><span class="bigger"><a href="/">{{ site.title }}</a> <span class="chevron">&nbsp;›&nbsp;</span> 节点未找到</span></div>
        <div class="cell">
            你试图查看的节点不存在，有几种可能：
            <div class="sep20"></div>
            <ul>
            <li>你输入了一个确实不存在的节点 ID</li>
            <li>该节点目前位于一个 invisible 位面</li>
            </ul>
        </div>
        <div class="inner">
        <span class="fade"><span class="chevron">&nbsp;‹&nbsp;</span> 返回 <a href="/">主页</a>
        {% if member %}
        <div class="sep5"></div>
        <span class="chevron">&nbsp;‹&nbsp;</span> 返回 <a href="/member/{{ member.username }}">我的个人页面</a>
        {% endif %}
        </span>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
