{% extends 'common/base.html' %}
{% block content %}
    <div id="Content">
        <div class="box">
            <div class="cell"><span class="fade"><a href="/">{{ site.title }}</a> <span class="chevron">&nbsp;›&nbsp;</span> 未讀提醒</span></div>
            {% for n in notifications %}
                <div class="ui feed">
                    <div class="event">
                        <label>
                            <a href="/member/{{ n.member.username }}">{{ n.member|avatar:"normal"|safe }}</a>
                        </label>
                        <div class="content">
                            <div class="summary">{{ n.text|safe }}
                                <div class="date">{{ n.created|timesince }} ago</div>
                                <a href="/backstage/remove/notification/{{ n.key }}" class="node">删除</a>
                            </div>
                            <div class="extra text">{{ n.payload|escape|mentions|safe|urlize|linebreaksbr }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="sep20"></div>
        <div class="box">
            <div class="cell"><span class="fade">外部接收您的提醒</span></div>
            <div class="inner">
                將以下網址加入 <a href="http://boxcar.io/" target="_blank">Boxcar</a> 或是 <a href="http://reader.google.com/" target="_blank">Google Reader</a> 中，即可在移動裝置上獲得來自 {{ site.title }} 的最新提醒。
                <div class="sep10"></div>
                <input type="text" class="sll" value="http://{{ site.domain }}/n/{{ member.private_token }}.xml" onfocus="this.select();" />
            </div>
        </div>
    </div>
{% endblock %}
