{% extends 'common/base.html' %}
{% block content %}
        <div id="Content">
            <div class="box">
                <div class="cell"><span class="fade"><a href="/">{{ site.title }}</a> {{ l10n.chevron|safe }} {{ l10n.signout }}</span></div>
                <div class="inner">您已經成功從 {{ site.title }} 登出。沒有任何個人資訊儲存在您的瀏覽器內(cookie)。
    			<div class="sep10"></div>
    			<div class="sep5"></div>
    			<a href="/signin" class="ui button">{{ l10n.signin_again }}</a>
    			<div class="sep5"></div></div>
            </div>
        </div>
{% endblock %}
